<mapper namespace="user">

    <!--sql的唯一标识  namespace.id来组成-->
    <select id="selectAll" resultType="com.fffjj.com.fffjj.model.User">
        select * from user
    </select>

    <select id="selectOne" resultType="com.fffjj.com.fffjj.model.User" paramterType="com.fffjj.com.fffjj.model.User">
        select * from user where id = ? and username = ?
    </select>
</mapper>